# KiCad
*-backups/
*.kicad_pcb-bak
*.kicad_sch-bak
*.bak
*.tmp
*~
*.kicad_prl
fp-info-cache
*.autosave


# Python cache
__pycache__/

*.bak
*.tmp
*.kicad_prl
*.net
*.xml
__pycache__/
*.DS_Store
Thumbs.db
